.header-wrapper {
   display: flex;
   align-items: center;
   padding: 0 var(--default-container-padding);
   justify-content: space-between;

   img {
      width: 90px;
      height: 90px;
   }
}